* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-80deg, #3498db, #16a085, white);
    background-size: 250% 250%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    width: 80%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main.container {
    padding: 0;
}

.title {
    width:100%;
    position: relative;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 65px;
}

.title span {
    position: relative;
    z-index: 2;
    top: 10px;
}

.title::before {
    content: attr(data-kr);
    width:100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(220, 245, 59, 0.453);
    font-size: 6.5rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.divider {
    transform: rotate(30deg);
    width: 5px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(220, 245, 59, 0.453);
}

section {
    max-width: 900px;
    margin: 20px auto 0;
}

h4 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: white !important;
}

.heading-wrapper {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button-container {
    padding: 10px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.popular {
    all: unset;
    position: relative;
    width: 180px;
    height: 70px;
    margin: 15px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.popular:hover .logo {
    transform: translateX(-30%);
    opacity: 0.5;
}

.popular:hover .logo-text {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    transition: all 0.8s ease-in-out;
    opacity: 1;
    z-index: 1;
}

.logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
    transition: transform 0.5s, opacity 0.5s 0.3s ease-in-out;
}

.logo-text {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    z-index: -1;
    opacity: 0;
    font-weight: bold;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}

.python {
    color: #4b8bbe;
}

.django {
    color: #092e20;
}

.js {
    color: #efdb4f;
}

.ts {
    color: #007acc;
}

.react {
    color: #61dbfb;
}

.node {
    color: #3c873a;
}

.java {
    color: #f89820;
}

.spring {
    color: #69ad3c;
}

.form-container {
    margin: 1rem 0;
}

.form {
    max-width: 900px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color: white !important;
}

input,
.submit-button {
    max-width: 800px;
}