/* common */
body {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(-80deg, #3498db, #16a085, white); */
    background-size: 350% 350%;
}

.table {
    table-layout: fixed;
    border: 1px solid;
}

/* add commmon */
.bg-black {
    background-color: black;
}

.color-white {
    color: white;
}

.center {
    text-align: center;
}

.fr {
    float: right;
}

.fs10 {
    font-size: 10px;
}

.fs15 {
    font-size: 15px;
}

.fs20 {
    font-size: 20px;
}


/* employ-table */

.employ-table-wrapper{
    width: 100%;
    height: 700px;
    overflow: auto;
}

.employ-table {
    border-collapse: collapse;
    border: 0px;

}

.employ-table tr th {
    background-color: whitesmoke !important;
    position: sticky;
    top: 0px;
    text-align: center;
}

.employ-table tr {
    height: 40px;
    font-size: 15px;
} 

.employ-table tr:hover:not(.hd-tr)  {
    background-color: skyblue;
    color: white !important;
    font-size: large;
}

.employ-table tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid;
    overflow: hidden;
    padding: 5px;
    font-size: 15px;
} 

.export {
    color: black;
    font-weight: 500;
}

.container {
    flex: 1;
    position: relative;
    width: 95%;
    padding: 0;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    /* color: #EDF0F3; */
}

.searched__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searched__header {
margin: 10px 0px 20px;
}

.searched__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 10px;
    padding: 15px;
    border: 1px solid #73828C;
    border-radius: 8px;
}

.searched__logo__undefined,
.searched__logo,
.searched__source {
    display: none;
}

.searched__detail {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.searched__apply {
    width: fit-content;
}

@media (min-width: 576px) { 
    .searched__detail {
        width: 65%;
    }
}

@media (min-width: 768px) {
    .searched__header {
        margin: 10px 0px 30px;
    }
    .searched__keyword {
        transform: translateX(-2%)
    }
    .searched__export {
        transform: translateX(2%)
    }
    .searched__logo__undefined {
        display: contents;
        font-size: 100px;
    }
    .searched__logo,
    .searched__source {
        display: inherit;
        width: 100px;
        padding: 0;
        border-radius: 8px;
    }
    .searched__detail {
        width: 45%;
    }
}
