/* common */
body {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(-80deg, #3498db, #16a085, white); */
    background-size: 350% 350%;
}

.table {
    table-layout: fixed;
    border: 1px solid;
}

/* add commmon */
.bg-black {
    background-color: black;
}

.color-white {
    color: white;
}

.center {
    text-align: center;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.fs10 {
    font-size: 10px;
}

.fs15 {
    font-size: 15px;
}

.fs20 {
    font-size: 20px;
}


/* employ-table */

.export {
    color: black;
    font-weight: 500;
}

.content {
    flex: 1;
    position: relative;
    width: 95%;
    padding: 0;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    /* color: #EDF0F3; */
}

.searched_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searched_header {
margin: 10px 0px 20px;
}

.searched_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 10px;
    padding: 15px;
    border: 1px solid #73828C;
    border-radius: 8px;
}

.searched_logo__undefined,
.searched_logo,
.searched_source {
    display: none;
}

.searched_detail {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.searched_apply {
    width: fit-content;
}

@media (min-width: 576px) { 
    .searched_detail {
        width: 65%;
    }
}

@media (min-width: 768px) {
    .searched_header {
        margin: 10px 0px 30px;
    }
    .searched_keyword {
        transform: translateX(-2%)
    }
    .searched_export {
        transform: translateX(2%)
    }
    .searched_logo_undefined {
        display: contents;
        font-size: 100px;
    }
    .searched_logo,
    .searched_source {
        display: inherit;
        width: 100px;
        padding: 0;
        border-radius: 8px;
    }
    .searched_detail {
        width: 45%;
    }
}

.progress-bar {
    width: 100%;
    background-color: whitesmoke;
    padding: 2px;
    margin-bottom: 1rem;
}
.progress-bar-fill {
    display: block;
    height: 64px;
    background-color: #65ef88;
    border-radius: 3px;
    width: 0%;
        
    transition: width 30ms ease-in-out;
}
.progress-text {
    align-content: center;
    font-size: 1.2rem;
    padding: 10px;
    display: inline-block;
    margin-left: 46.5%;
    width: 250px;
}