{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채용 공고 검색</title>

    <!-- script -->
    <script defer src="{% static 'js/search.js' %}"></script>  
    <script defer src="{% static 'js/common.js' %}"></script>  
    
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet  " href="{% static 'css/pico.min.css' %}">
</head>
<body>
    <main class="container">
        <div><h2>Job Scrapper</h1></div>
        <div>
            <h3>What job do you want?</h2>
            <input type="text" name="keyword" id="keyword" placeholder="Write one keyword please">
            <input type="button" value="Search" name="search" id="searchEmploy">
            <br>
            <div>
                <div class="employ-table-wrapper" name="content" id="content">
                    <table class='table employ-table' id="tblEmploy" role="grid">
                        <colgroup>
                            <col style="width: 130px;">
                            <col style="width: 500px;">
                            <col style="width: 150px;">
                            <col style="width: 150px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <thead id="headContent">
                            <tr class="hd-tr center">
                                <th>Number</th>
                                <th>Postion</th>
                                <th>Company</th>
                                <th>Location</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody id="bodyContent"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>