{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채용 공고 검색</title>

    <!-- js -->
    <script type="module" src="{% static 'js/common.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <script defer src="{% static 'js/export.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
</head>

<body>
    <main class="container">
        <div>
            <h2>💼 WORK SEARCH</h2>
        </div>
        <div>
            <h3>Let's find our own jobs!</h3>
            <div class="searched_header fr"><a target="_blank" class="export" id="export" role="button">Export to file</a></div>
            
            <input type="text" name="keyword" id="keyword" placeholder="Write one keyword please"
                value="{{keyword}}">
            <input type="button" value="Search" name="search" id="searchEmploy">
            
            <div class="content">
                
            </div>
        </div>
    </main>
</body>
</html>